.menuUl {
    float: left;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 20px;
}

.menuUl li {
    display: inline-block;
}

.menuUl li a {
    text-decoration: none;
    color: #000000;
    padding: 5px 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.4s ease;
}

.menuUl li .a_Artists:hover {
    background-color: #ff0000;
    color: black;
}
.menuUl li .a_Galleries:hover {
    background-color: #0055e2;
    color: black;
}
.menuUl li .a_Paintings:hover {
    background-color: #339900;
    color: black;
}

.logo img{
    float: left;
    margin-right: 2rem;
    margin-left: 1rem;
}