.heading::after {
    content: "";
    width: 10rem;
    height: .6rem;
    background-color: #ff0000;
    position: absolute;
    bottom: -0.1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card {
    width: 25rem;
    background-color: rgba(196, 196, 196, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 3rem rgb(0, 0, 0, 0.2);
}

.card-image {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    z-index: 999;
    border: 1rem solid #ebeef8;
}

.card h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;

}

.artist-style {
    color: #333;
    font-size: 1.5rem;
    font-weight: 300;
}

.artist-about {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
}

@media screen and (min-width: 700px) {
    #card-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .card {
        margin: 2rem;
        transition: transform .5s;
    }

    .card:hover {
        transform: scale(1.05);
    }
}
