.heading::after {
    content: "";
    width: 10rem;
    height: .6rem;
    background-color: #0055e2;
    position: absolute;
    bottom: -0.1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

.table_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.table_section p{
    margin-top: 1rem;
    margin-left: 40%;

}
.table_section button{
    margin-top: 1rem;
    margin-left: 50%;
}

.galleryName{
    color: black;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #a3bef3;
    max-width: fit-content;
    height: 2rem;
    transition: transform .2s;
}
.galleryName:hover{
    transform: scale(1.05);
}

#expand-gallery-form{
    width: 7rem;
}


