h1 {
    text-align: center
}

.poelse-section{
    display: flex;
    justify-content: center;
    text-align: center;
}
th,td{
border: 1px solid black;
}
fieldset{
    width: fit-content;
}

legend{
    font-weight: bold;
}





